body {
    text-align: center;
  }
  
  img {
    width: 250px;
    border-radius: 50%;
    padding-top: 50px;
  }
  
  #home {
    background: rgb(228, 222, 90);
    background: radial-gradient(
      circle,
      rgba(228, 222, 90, 1) 0%,
      rgba(22, 210, 39, 1) 87%,
      rgba(148, 233, 161, 1) 100%
    );
    font-family: cursive;
    font-size: 20px;
    height: 400px;
    z-index: 9;
  }
  
  .line {
    height: 7px;
    background: black;
    width: 120px;
    margin: 8px auto;
  }
  
  #bio h1 {
    font-family: sans-serif;
  }
  
  p {
    width: 450px;
    line-height: 1.7;
    margin: 8px auto;
    font-family: sans-serif;
  }
  
  img {
    margin-top: 30px;
  }
  
  .menu {
    list-style: none;
    position: absolute;
    z-index: 10;
    top: -40px;
    right: 100px;
    cursor: pointer;
    padding-top: 50px;
    margin: 8px auto
  }
  
  .links {
    float: left;
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 100px;
    height: 27px;
    width: 100px;
    font-size: 17px;
    border: 2px solid grey;
  }
  
  .links:hover {
    background: lightblue;
    transition: 500ms;
  }

  .linkss:hover {
    background: lightblue;
    transition: 500ms;
  }

  .linkss {
    float: left;
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 100px;
    height: 40px;
    width: 100px;
    font-size: 17px;
    border: 2px solid grey;
  }